.canvas-content{
    text-align: center;    
    flex-direction: column;
    margin:auto;
}
.canvas-content .canvas{
    overflow-x: auto;
    white-space: nowrap;
   
}
.canvas-content h1{
    text-transform: uppercase;
    margin: 1rem;
    font-size: 2rem;
}
.canvas-content p{
    margin-top: 0.4rem;
    font-size: 1.2rem;
}

.canvas-content a{
    font-size: 1.5rem;
}
.description{
    font-size: 1.2rem;
}