.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h1{
  margin-top: 12rem;
  text-transform: uppercase;
  font-size: 3rem;
}
.content p{
  text-align: center;
  font-size: 1.8rem;

}
